node_modules/
#.monitor
#config/env/env.json
Makefile
.DS_Store
npm-debug.log
public/lib/
public/avatar/
public/upload/images/
public/upload/voice/
public/upload/mp3/
public/upload/pic/
public/upload/food/
public/upload/dish/
public/upload/japanRestaurant/
config/aimls/question.aiml
config/dicts/dish.txt
config/dicts/dish_error_name.txt
config/dicts/paper.txt
app/old-views/
.idea/
