#main {
  min-height: 500px;
  padding-left: 0;
  padding-right: 0;
}
ul.nav-super {
  border-bottom: none;
}
ul.nav-super li {
  margin-bottom: 4px;
  padding: 0;
}
ul.nav-super li i {
  margin-right: 7px;
}
ul.nav-super li a {
  border: 1px solid #d5d5d5;
  margin: 0;
  border-radius: 5px;
  color: #454B56;
  background: -webkit-linear-gradient(top, #fafafa, #e9e9e9);
}
ul.nav-super li a.active, ul.nav-super li a:hover {
  color: #ffffff;
  background: -webkit-linear-gradient(top, #454B56, #393F48);
}
.super-content .table-responsive {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  overflow: hidden;
}
.super-content .table {
  margin-bottom: 0;
  table-layout: fixed;
  word-wrap: break-word;
}
.super-content .table>tbody>tr:nth-child(odd)>td {
  background-color: #ffffff;
}
.super-content .table>tbody>tr:nth-child(even)>td {
  background-color: #f9f9f9;
}
.super-content .table>thead>tr>th {
  background: -webkit-linear-gradient(top, #fafafa, #e9e9e9);
}
.super-content .super-form {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9
}
.super-content .avatar-min {
  width: 160px;
  height: auto;
  margin-top: 10px;
}
.super-content .control-label {
  text-align: right;
}
.super-content-row {
  margin-bottom: 10px;
}
.super-content-row i.glyphicon {
  margin-right: 7px;
}
#main .super-content .super-action {
  padding-top: 60px;
}
.audio-wrap audio, .audio-wrap .audio-bind-img {
  display: block;
  width: 300px;
}
.audio-wrap .audio-bind-img {
  margin-top: 20px;
}
.audio-wrap .audio-bind-img img {
  width: 100%;
}
.audio-edit-img {
  margin-top: 10px;
}
.audio-edit-img-row {
  margin-bottom: 10px;
}
.admin-links a {
  display: block;
  padding-bottom: 5px;
}
.admin-pagination {
  float: right;
}
.admin-modal-table {
  max-height: 400px;
  overflow-y: auto;
}
.bootpag {
  float: right;
}

/* data */
.data-title {
  font-size: 24px;
  font-weight: bold;
}
.data-panel {
  padding: 10px;
  border-radius: 5px;
  color: #ffffff;
}
.data-panel-user {
  background-color: #94b758;
}
.data-panel-headphones {
  background-color: #fa7b58;
}
.data-panel-music {
  background-color: #56bdf1;
}
.data-panel-cutlery {
  background-color: #f3c536;
}
.data-icon-wrap {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
}
.home .data-icon-wrap {
  width: 100px;
  height: 90px;
}
.data-icon-wrap i {
  font-size: 40px;
  line-height: 60px;
}

.data-content {
  float: left;
  padding-left: 10px;
}
.data-content .data-content-val {
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
}


/* panel chart */
.super-panel {
  border-radius: 5px;
  background-color: #ececec;
}
.super-panel .panel-body {
  padding: 0 10px 10px;
}
.super-panel .panel-body-detail {
  padding: 20px;
}
.super-panel .panel-heading {
  background: -webkit-linear-gradient(top, #454B56, #393F48);
  color: #ffffff;
}
.super-panel .panel-heading a {
  display: block;
  float: right;
  color: #cccccc;
  cursor: pointer;
}
.super-panel .highcharts-axis {
  display: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #ebeced;
}

.focus-content {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  min-height: 30px;
}
.voice-content-area {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
}

.joined_restaurant_title {
  color: #449d44;
}

/* season */
.season-table {
  position: relative;
}
.season-title {
  font-size: 20px;
}
.season-current {
  background-color: #fa7b58;
  color: #ffffff;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.season-food-name {
  line-height: 30px;
  margin-top: 0;
}
.season-food-wrap {
  margin-top: 10px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}
.season-food-image {
  width: 200px;
  padding-right: 10px;
  margin-top: 5px;
}
.season-food-image img {
  display: block;
  width: 200px;
  max-width: 100%;
}
.season-food-action {
  line-height: 30px;
}
.season-food-action i {
  margin-right: 7px;
}
.season-food-info-title {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
.season-food-info {}
.table .table-food-action {
  padding-top: 20px;
}
.food-des-edit {
  padding-bottom: 20px;
}
.food-image-edit {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}
.food-image-edit img {
  width: 200px;
  float: left;
  display: block;
  padding-right: 20px;
}
.food-image-action {
  float: left;
}
.food-image-action input {}
.food-image-action button {
  margin-top: 10px;
}

.food-restaurant-edit {
  margin-top: 10px;
}
.food-restaurant-row {
  margin-bottom: 10px;
}
.food-restaurant-add {
  cursor: pointer;
}
.food-action {
  margin-top: 10px;
}