html, body {
  background-color: #222;
}
.home-img-phone {
  background: url(../img/home/phone.png) no-repeat 0 100%;
  width: 600px;
  height: 705px;
  float: right;
  position: relative;
}
.home-phone-show-wrap {
  width: 251px;
  height: 355px;
  background-color: #ebebeb;
  position: absolute;
  top: 122px;
  left: 248px;
  overflow: scroll;
}
.home-phone-show {
  width: 235px;
  left: 8px;
  top: 8px;
  position: absolute;
}
.home-test-robot {
  margin-top: 100px;
  border: 2px solid #ffffff;
  padding: 15px 20px;
  color: #ffffff;
  font-size: 28px;
  display: block;
  float: left;
  cursor: pointer;
}
.home-title, .home-sub-title {
  font-weight: normal;
  text-align: left;
  line-height: 1.5;
}
.home-title {
  font-size: 28px;
  margin-top: 50px;
}
.home-sub-title {
  font-size: 18px;
  margin-top: 20px;
}
.home-send-info {
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
}
.home-send-info span {
  color: #f7951b;
}
.btn-try {
  display: block;
  border: none;
  padding: 15px 30px;
  margin-top: 80px;
}
.btn-try:focus {
  outline: none;
}
.wx-box {
  clear: both;
  margin-bottom: 10px;
}
.wx-box .wx-img {
  width: 33px;
  height: 33px;
}
.wx-box .wx-msg {
  max-width: 192px;
  color: #000000;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  text-align: left;
  position: relative;
}
.wx-box .wx-msg img {
  max-width: 120px;
}
.wx-box .wx-msg a {
  display: block;
}
.wx-box .wx-msg:before {
  display: block;
  top: 11px;
  width: 7px;
  height: 10px;
  position: absolute;
  content: '';
}
.wx-user .wx-img {
  float: right;
  background: url(../img/home/client-wx.png) no-repeat 0 0;
}
.wx-user .wx-msg {
  float: right;
  margin-right: 10px;
  background-color: #83f256;
  border: 1px solid #7ceb5c;
}
.wx-user .wx-msg:before {
  right: -7px;
  background: url(../img/home/client-tip.png) no-repeat 0 0;
}
.wx-robot .wx-img {
  float: left;
  background: url(../img/home/robot-wx.png) no-repeat 0 0;
}
.wx-robot .wx-msg {
  float: left;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.wx-robot .wx-msg:before {
  left: -7px;
  background: url(../img/home/robot-tip.png) no-repeat 0 0;
}
#robot-test-form {
  position: absolute;
  width: 210px;
  left: 280px;
  top: 482px;
}

.home-img {
  background-image: none;
}
.home-img-wrap {
  height: 100%;
}
.header-scroll {
  background: transparent;
  border-bottom-color: transparent;
  box-shadow: none;
}
.header-scroll.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}
.header-scroll .navbar-nav>li {
  border-left-color: transparent;
}
.info-wrap, .data-wrap {
  background: #fff;
}
.info-wrap, .data-wrap, .home-feedback, footer {
  position: relative;
}
.logo-color-green, .logo-color-red, .logo-color-yellow {
  border: 2px solid #2b2d35;
  padding: 3px;
  background: none;
}
.logo-color-green i, .logo-color-red i, .logo-color-yellow i {
  background-color: #2b2d35;
  color: #fff;
}
.home-info-logo {
  width: 160px;
  height: 160px;
}
.home-info-logo i {
  font-size: 80px;
  line-height: 150px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  top: 0;
  -webkit-transition: all .7s ease-out;
  -moz-transition: all .7s ease-out;
  transition: all .7s ease-out;
}
.home-info-logo:hover i {
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.home-datas {
  padding-top: 100px;
  padding-bottom: 40px;
}
.news-wrap {
  padding: 20px 0;
  background-color: #f5f5f5;
  position: relative;
}
.new-wrap {
  padding: 20px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}
.new-title {
  color: #000000;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  display: block;
}
.new-title:hover {
  color: #000000;
  text-decoration: underline;
}
.new-date {
  margin-top: 5px;
}
.new-date, .new-des {
  color: #666666;
}
.new-des {
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
.new-img-wrap {
  width: 100%;
  height: 180px;
  overflow: hidden;
  margin: 10px 0;
}
.new-img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  transition: all 5s;
}
.new-wrap:hover .new-img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* home order list */
.orders-wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2b2d35;
}
.order-wrap {
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.order-wrap img {
  width: 100%;
  display: block;
}
.order-info {
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.order-info-bg, .order-info-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.order-info-bg {
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}
.order-info-inner {
  z-index: 2;
}
.order-name {
  color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.order-star {
  color: #c80228;
  padding-top: 10px;
  padding-left: 10px;
}
.order-btn {
  position: absolute;
  top: 20px;
  right: 10px;
}
.order-list-btn {
  margin-top: 30px;
  text-align: center;
}
.order-list-btn a {
  font-size: 20px;
}
.order-list-btn a:link, .order-list-btn a:visited, .order-list-btn a:hover, .order-list-btn a:active {
  color: #428bca;
}

.footer-about {
  background-image: none;
}
.footer-inspired {
  background-color: #222;
}
