extends ../layout/layout-base

block content
  style.
    a.btn-block {
      margin-top: 20px;
    }
    .row {
      margin-top: 10px;
    }
  .container.text-center
    h3 我的订单
    - each order, index in orders
      .row
        .col-md-12
          a(href='/client/showOrder?orderId=#{order._id}') 订单#{index + 1} (#{order.showCreatedAt} 提交)
    a.btn-block.btn.btn-primary(href='/client/order?openid=#{openid}') 我要再次预定