extends ../layout/layout-base

block css_content
block content
  .container
    .row
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-body
            .text-center.h3 预定信息已提交，稍后栈栈会与你联系！
            button.btn.btn-primary.btn-block.text-center(onclick="WeixinJSBridge.call('closeWindow')") 关闭
block js_content