doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 挑战月薪15000元·零基础前端开发培训 - 见微知萌科技有限公司
    link(rel='stylesheet', media='screen', href='http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css')
    //[if lt IE 9]>
      <script src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js'></script><![endif]
    //put other css files in css_content
    script(src='//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js')
  body
    .container
      h2 见微知萌 · 前端培训
      blockquote.text-success 见微知萌科技有限公司, 专注于前端、全栈开发培训, 为国内互联网企业输送最紧缺的前端人才;
      blockquote.text-success 互联网发展到现阶段 用户对网站的展示风格 交互体验提出了更高的要求, 这也导致了前端人才紧缺, 而我国大学的教学体系对此极少涉足, 进一步导致了前端岗位门槛低、收入高的现状;
      blockquote.text-success 行业现状请参考:&nbsp;&nbsp;
        a(href='https://100offer.com/blog/posts/83') 为什么整个互联网行业都缺前端工程师？
      blockquote.text-success 请参考拉钩网北京前端职位要求:&nbsp;&nbsp;
        a(href='http://www.lagou.com/zhaopin/qianduankaifa/') 拉钩网 - 北京 - 前端开发
      blockquote.text-success 6个月零基础 互联网前端 就业培训
        br
        | 毕业后工资不少于
        span.text-danger  9000/月
        br
        | 平均工资可达
        span.text-danger  12000 - 15000/月
        br
        | 低于9000/月全额返还学费;
      blockquote.text-success 学习时间:
        br
        span.text-danger (6月初 - 12月底)
        br
        span.text-success 每周四、五、六白天上课, 其他时间可在教室由老师指导练习
      blockquote.text-danger 学费: 9800元 (原价12000元)
      blockquote.text-success 学习地址: 沈阳市铁西区沈辽路万达广场
      blockquote.text-success 招生电话: 13439279372 李老师
      blockquote.text-danger PS: 本着对学员负责的态度, 参加学习的学生需要有基本的计算机知识, 报名前讲师面试, 合格后才可参加学习
      h4.text-info 咨询课程 请在微信中长按下面的二维码 (微信号: zhimengfe)
      p.text-center
        img(src='/img/zhimeng.jpg', style='max-width: 90%;')
      h2 课程安排
      blockquote.text-success 每周四、五、六白天上课, 其他时间可在教室由老师指导练习
      table.table.table-bordered
        thead
          tr
            th.h3.active.text-center(colspan=2) 前端基础 - 13周
        tbody
          tr.info
            td 前端行业概述 + JS/CSS基础知识
            td 1周
          tr.info
            td CSS进阶
            td 2周
          tr.info
            td JS进阶
            td 2周
          tr.danger
            td 算法实战(JS)
            td 2周
          tr.danger
            td CSS3 + 动画
            td 2周
          tr.danger
            td 真实开发工作训练
            td 4周
      table.table.table-bordered
        thead
          tr
            th.h3.active.text-center(colspan=2) 就业进阶 - 13周
        tbody
          tr.info
            td 工程环境搭建
            td 1周
          tr.info
            td 真实网站搭建
            td 2周
          tr.info
            td 工作常用插件
            td 1周
          tr.info
            td Angularjs/React
            td 1周
          tr.info
            td 增删改查开发
            td 1周
          tr.danger
            td 微信API开发实战
            td 4周
          tr.danger
            td 面试集训
            td 3周