doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 玩法变了 学费全免 零基础·零费用·挑战月薪15000元·互联网前端工程师培训 - 见微知萌科技有限公司
    link(rel='stylesheet', media='screen', href='http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css')
  body
    .container
      h1.text-danger 零基础·零费用·挑战月薪15000元
      h4.text-success 互联网前端工程师培训
      h4 4月份开始, 我们开始了初步的招生推广. 吸引了众多小伙伴前来围观、咨询.
        br
        | 经过一轮猛聊, 发现伙伴们对课程是真爱啊! 但是1万多的学费真心有些贵呢!
        br
        | 最初的办法是等大家找到工作后, 再补交之前的学费.
        br
        | 今天仔细考虑一下, 突然发现之前真是糊涂, 我们的目标是培养优秀的工程师, 让我的学生都能拼出一个优秀的前途, 如果因为费用问题而错过了优秀的人才, 那才是最大的遗憾.
        br
        br
        span.text-danger 最终决定就是, 本次培训全部免费, 没有额外费用, 没有隐形收费, 培训全程免费提供IBM笔记本、零食、水果. (费用我们自己出, 宝宝心里苦啊!!!)
        br
        br
        span.text-success 本轮培训只安排6个名额, 招满为止.
        br
        br
        span.text-success PS: 我们将以真实的工作场景来要求你, 在这里你不是一个学生, 而是我们的工作伙伴, 这个过程需要大量的学习, 全程都伴随着很大压力.
      blockquote.text-success 学费:
        span.h1.text-danger &nbsp;&nbsp;0&nbsp;&nbsp;
        | (原价12000元)
      blockquote.text-danger 注意: 参加本次学习的学生需要有基本的计算机知识, 报名前需要进行一轮面试, 合格后才可参加学习
      blockquote.text-success 平均工资可达
        span.text-danger  12000 - 15000/月
        br
        | 对于优秀的学员, 可以很容易达到
        span.text-danger 20000/月
      blockquote.text-success 学习时间:
        br
        span.text-danger (6月初 - 12月底) 每周四、五、六白天上课, 其他时间可在教室由老师指导练习
        br
        br
        span.text-success 学习地址: 沈阳市铁西区沈辽路万达广场
        br
        br
        span.text-success 招生电话: 13439279372 李老师
      blockquote.text-danger 北京见微知萌科技有限公司
        br
        span.text-success 国内首家全程免费培训机构, 为国内互联网企业输送最紧缺的前端开发人才;
      blockquote.text-success 互联网发展到现阶段 用户对网站的展示风格 交互体验提出了更高的要求, 这也导致了前端人才紧缺, 而我国大学的教学体系对此极少涉足, 进一步导致了前端岗位门槛低、收入高的现状;
      blockquote.text-success 行业现状请参考:&nbsp;&nbsp;
        a(href='https://100offer.com/blog/posts/83') 为什么整个互联网行业都缺前端工程师？
      blockquote.text-success 请参考拉钩网北京前端职位要求:&nbsp;&nbsp;
        a(href='http://www.lagou.com/zhaopin/qianduankaifa/') 拉钩网 - 北京 - 前端开发
      h4.text-info 咨询课程 请在微信中长按下面的二维码 (微信号: zhimengfe)
      p.text-center
        img(src='/img/zhimeng.jpg', style='max-width: 90%;')
      h2 课程安排
      blockquote.text-success 每周四、五、六白天上课, 其他时间可在教室由老师指导练习
      table.table.table-bordered
        thead
          tr
            th.h3.active.text-center(colspan=2) 前端基础 - 13周
        tbody
          tr.info
            td 前端行业概述 + JS/CSS基础知识
            td 1周
          tr.info
            td CSS进阶
            td 2周
          tr.info
            td JS进阶
            td 2周
          tr.danger
            td 算法实战(JS)
            td 2周
          tr.danger
            td CSS3 + 动画
            td 2周
          tr.danger
            td 真实开发工作训练
            td 4周
      table.table.table-bordered
        thead
          tr
            th.h3.active.text-center(colspan=2) 就业进阶 - 13周
        tbody
          tr.info
            td 工程环境搭建
            td 1周
          tr.info
            td 真实网站搭建
            td 2周
          tr.info
            td 工作常用插件
            td 1周
          tr.info
            td Angularjs/React
            td 1周
          tr.info
            td 增删改查开发
            td 1周
          tr.danger
            td 微信API开发实战
            td 4周
          tr.danger
            td 面试集训
            td 3周