doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 见微知萌
    link(rel='stylesheet', media='screen', href='http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css')
    //[if lt IE 9]>
      <script src='http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js'></script>
      <script src='http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js'></script><![endif]
    //put other css files in css_content
    script(src='//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js')
  body
    .container
      h1 见微知萌 · 前端培训
      blockquote.text-success 我们专注于前端、全栈开发培训, 为国内互联网企业输送最紧缺的前端人才;
      blockquote.text-success 6个月就业培训, 承诺工资不少于9000/月, 平均工资可达12000/月, 低于9000/月全额返还学费;
      blockquote.text-danger 学习地址: 沈阳市铁西区沈辽路万达广场 招生电话: 13439279372 李老师
      h2 课程内容
      blockquote.text-success 每周四、五、六白天上课, 其他时间可在教室由老师指导练习
      table.table.table-bordered
        thead
          tr
            th.h3.active.text-center(colspan=2) 前端基础 - 13周
        tbody
          tr.info
            td 前端行业概述 + JS/CSS基础知识
            td 1周
          tr.info
            td CSS进阶
            td 2周
          tr.info
            td JS进阶
            td 2周
          tr.danger
            td 算法实战(JS)
            td 2周
          tr.danger
            td CSS3 + 动画
            td 2周
          tr.danger
            td 真实开发工作训练
            td 4周
      table.table.table-bordered
        thead
          tr
            th.h3.active.text-center(colspan=2) 全栈进阶 - 13周
        tbody
          tr.info
            td 工程环境搭建
            td 1周
          tr.info
            td 真实网站搭建
            td 2周
          tr.info
            td 工作常用插件
            td 1周
          tr.info
            td Angularjs/React
            td 1周
          tr.info
            td 增删改查开发
            td 1周
          tr.danger
            td 微信API开发实战
            td 4周
          tr.danger
            td 面试集训
            td 3周
      h4.text-info 咨询课程 请在微信中长按下面的二维码
      p.text-center
        img(src='/img/zhimeng.jpg', style='max-width: 90%;')