doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=1024')
    meta(name="apple-mobile-web-app-capable", content="yes")
    title 日料栈

    link(rel='stylesheet', href='/lib/impress.js/css/impress-demo.css')
    style(type='text/css').
      .slide img {
        width: 100%;
      }
  body(class="impress-not-supported")
    .fallback-message
      p Your browser
        b doesn't support the features required
        |  by impress.js, so you are presented with a simplified version of this presentation.
      p For the best experience please use the latest
        b Chrome,
        b Safari
        |  or
        b Firefox
        |  browser.
    .hint
      p 使用空格或方向键浏览

    #impress

      #bored.step.slide(data-x="0", data-y="-1500")
        img(src='/img/plan/01.jpg')
      .step.slide(data-x="0", data-y="-500")
        img(src='/img/plan/02.jpg')
      .step.slide(data-x="0", data-y="500")
        img(src='/img/plan/03.jpg')
      .step.slide(data-x="0", data-y="1500")
        img(src='/img/plan/04.jpg')
      .step.slide(data-x="0", data-y="2500")
        img(src='/img/plan/05.jpg')
      .step.slide(data-x="0", data-y="3500")
        img(src='/img/plan/06.jpg')
      .step.slide(data-x="0", data-y="4500")
        img(src='/img/plan/07.jpg')
      .step.slide(data-x="0", data-y="5500")
        img(src='/img/plan/08.jpg')
      .step.slide(data-x="0", data-y="6500")
        img(src='/img/plan/09.jpg')
      .step.slide(data-x="0", data-y="7500")
        img(src='/img/plan/10.jpg')
      .step.slide(data-x="0", data-y="8500")
        img(src='/img/plan/11.jpg')
      .step.slide(data-x="0", data-y="9500")
        img(src='/img/plan/12.jpg')
      .step.slide(data-x="0", data-y="10500")
        img(src='/img/plan/13.jpg')

    script.
      if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>左右划动浏览</p>";
      }
    script(src='/lib/impress.js/js/impress.js')
    script.
      impress().init();