doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, user-scalable=0')
    title #{title}
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', media='screen', href='http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.css')
    //put other css files in css_content
    block css_content
  body

    block content

    script(src='http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js')
    script(src='http://apps.bdimg.com/libs/bootstrap/3.2.0/js/bootstrap.min.js')
    block js_content
    include ../include/analytics