.form-group
  label 管理员邮箱
  input.form-control(type='text', ng-model='admin.email', required)
.form-group
  label 管理员昵称
  input.form-control(type='text', ng-model='admin.name')
.form-group
  label.radio-inline
    input(type='radio', name='admin_type', ng-model='admin.isAdmin', ng-checked='admin.isAdmin', ng-change='admin.isAdmin = true')
    | 兼职管理员
  label.radio-inline
    input(type='radio', name='admin_type', ng-model='admin.isAdmin', ng-checked='!admin.isAdmin', ng-change='admin.isAdmin = false')
    | 超级管理员
.form-group(ng-show='admin.isAdmin')
  label.checkbox-inline(ng-repeat='role in admin.roleAry')
    input(type='checkbox', name='admin_role', ng-checked='role.checked', ng-click='changeRole(role)')
    | {{role.name}}