include include/csrf
form.super-form(name='couponForm')
  include include/coupon-form
  button.btn.btn-primary(ng-click='createCoupon()', ng-disabled='couponForm.$invalid') 确定
  | &nbsp;&nbsp;
  a.btn.btn-primary(ng-href='#/toCoupons') 取消
