include include/csrf
p.clearfix
  a.btn.btn.btn-primary.pull-right(ng-href='#/toAddAdmin') 创建管理员
p: ul.nav.nav-tabs
  - var tabs = [['all', '全部'], [0, '兼职管理员'], [1, '超级管理员']]
  - each tab in tabs
    li(ng-class='{ "active": "#{tab[0]}"==selTabIndex }', role='presentation')
      a(ng-click='selTab("#{tab[0]}")', href='javascript:{}') #{tab[1]}
.table-responsive
  table.table.table-striped
    tbody
      tr(ng-repeat='user in wrapData.users')
        td.col-md-9
          .row
            .col-md-3.text-right 级别
            .col-md-9
              .text-danger(ng-show='user.isSuperAdmin') 超级管理员
              .text-danger(ng-show='user.isAdmin') 兼职管理员
          .row
            .col-md-3.text-right 昵称
            .col-md-9: b {{user.name}}
          .row
           .col-md-3.text-right 登录邮箱
           .col-md-9 {{user.email}}
          .row(ng-show='user.default_restaurant')
            .col-md-3.text-right 管理餐厅
            .col-md-9 {{user.default_restaurant.name}}
          .row(ng-show='user.first_password')
            .col-md-3.text-right 初始密码
            .col-md-9 {{user.first_password}}
        td.col-md-3.text-center
          p: a.btn.btn-sm.btn-primary(ng-href='#/toUpdateAdmin/{{user._id}}') 编辑管理员
          p: a.btn.btn-sm.btn-danger(ng-click='resetPassword($index)') 重置初始密码
          p: a.btn.btn-sm.btn-danger(ng-if='!user.isDel', ng-click='delAdmin($index, true)') 删除管理员
include include/pagination