include include/csrf
p.clearfix
  a.btn.btn.btn-success.pull-left(ng-click='sendCoupons()') 发送选中的优惠券
  a.btn.btn.btn-primary.pull-right(ng-href='#/toAddCoupon') 创建优惠券
p: ul.nav.nav-tabs
  - var tabs = [[0, '待发送'], [1, '已发送']]
  - each tab in tabs
    li(ng-class='{ "active": "#{tab[0]}"==selTabIndex }', role='presentation')
      a(ng-click='selTab("#{tab[0]}")', href='javascript:{}') #{tab[1]}
.table-responsive
  table.table.table-striped
    tbody
      tr(ng-repeat='coupon in wrapData.coupons')
        td.col-md-2.text-center.super-action
          input(type='checkbox', name='selectedCoupon', ng-disabled='selTabIndex == 1',
            ng-checked='hasSelected($index)', ng-click='toggleSelection($index)')
        td.col-md-8.super-content-row
          p
            i.glyphicon.glyphicon-cutlery
            | {{coupon.restaurant.name}}
          p 用于唤醒沉睡超过&nbsp;
            b {{coupon.sleep_month}}
            | &nbsp;个月的用户
          p.focus-content {{coupon.title}}
          p(ng-if='coupon.start_at && coupon.end_at') {{coupon.start_at | dateFormat}} 至 {{coupon.end_at | dateFormat}} 期间有效
          p(ng-show='coupon.send_status == 1') 已发送至&nbsp;
            b {{coupon.app_ids.length}}
            | &nbsp;个用户
          p.small.text-muted 备注：{{coupon.des}}
        td.col-md-2.text-center.super-action
          p(ng-if='coupon.send_status == 0 && selTabIndex == 0')
            a(ng-href='#/toUpdateCoupon/{{coupon._id}}', class='btn btn-primary btn-sm')
              span 编辑优惠劵
          p(ng-if='coupon.send_status == 1 && selTabIndex == 1')
            a(ng-click='delCoupon($index)', class='btn btn-danger btn-sm')
              span 删除优惠劵，请谨慎操作
include include/pagination