include include/csrf
.modal-header
  h3.modal-title 请选择餐厅
  p
    .row
      .col-md-6.col-md-offset-6
        .input-group
          input.form-control(type="text", placeholder="输入餐厅名字搜索", ng-model='search')
          span.input-group-btn
            button.btn.btn-default(ng-click='searchRestaurant()') 搜索
    .row
      .col-md-12
        ul.nav.nav-tabs
          li(ng-repeat='_city in citys', ng-class='{"active": _city.key == city}')
            a(href='javascript:{}', ng-click='toggleCity(_city.key)') {{_city.name}}
  .modal-body
    .table-responsive
      .admin-modal-table
        table.table.table-striped
          thead
            tr
              th 餐厅名称
              th 人均消费
              th 评分
              th.text-center 操作
          tbody
            tr(ng-repeat='restaurant in wrapData.fetchs')
              td.col-md-4 {{restaurant.name}}
                span(ng-if='restaurant.local_name') ({{restaurant.local_name}})
              td.col-md-2 {{restaurant.price}} / 人
              td.col-md-4
                span 口味：{{restaurant.taste}}&nbsp;
                span 环境：{{restaurant.env}}&nbsp;
                span 服务：{{restaurant.service}}&nbsp;
              td.col-md-2.text-center
                button.btn.btn-primary(ng-click='checked(restaurant)') 选中
  include include/pagination