include include/csrf
style.
  .robot-answer {
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
  }
  .robot-answer:hover {
    max-height: none;
  }
.table-responsive
  table.table.table-striped
    thead
      tr
        th.col-md-2 微信用户
        th.col-md-3 问题
        th.col-md-5 机器人答复
        th.col-md-2 提问时间
    tbody
      tr(ng-repeat='robotLog in wrapData.robotLogs')
        td.col-md-2 {{robotLog.userName}}
        td.col-md-3 {{robotLog.question}}
        td.col-md-5
          button.btn.btn-primary.btn-sm(ng-click='selQuestion($index)') 修正答案
          .robot-answer(ng-if='!robotLog.isImg') {{robotLog.answer}}
          div(ng-if='robotLog.isImg')
            img(ng-src='{{robotLog.answer}}', width='200')
        td.col-md-2 {{showTime(robotLog.createdAt)}}
include include/pagination