include include/csrf
p.clearfix
  a.btn.btn.btn-primary.pull-right(ng-href='#/toAddSeason') 创建美食推荐
.table-responsive
  table.table.table-striped.season-table
    tbody
      tr(ng-repeat='season in wrapData.seasons')
        td.col-md-10
          .season-title
            b {{season.title}}
          .season-current(ng-if='$index == 0') 当前推荐
          .row.season-food-wrap(ng-repeat='food in season.foods')
            .col-md-4
              .season-foods
                .clearfix
                  .h4.season-food-name 菜品：{{food.name}}
                  .h5 食材：{{food.material}}
                  .season-food-image(ng-if='food.images.length')
                    img(ng-src='{{food.images[0]}}')
                  .season-food-action
                    a(ng-href='#/toUpdateFood/{{food._id}}')
                      i.glyphicon.glyphicon-edit
                      | 编辑食材
                    | &nbsp;&nbsp;
                    a(ng-href='/season/{{season._id}}/food/{{food._id}}', target='_blank')
                      i.glyphicon.glyphicon-eye-open
                      | 预览食材
            .col-md-3
              .season-food-restaurants
                .season-food-info-title 菜品描述：
                .season.food-info
                  | {{food.des}}
            .col-md-5
              .season-food-restaurants
                .season-food-info-title 餐厅列表：
                .season.food-info(ng-repeat='restaurantId in food.restaurants')
                  | {{foods[restaurantId]}}
        td.col-md-2.text-center.super-action
          p: a(ng-href='#/toUpdateSeason/{{season._id}}', class='btn btn-primary btn-sm')
            span 编辑应季食材推荐
          p: a(ng-click='delSeason($index)', class='btn btn-danger btn-sm')
            span 删除食材推荐，请谨慎操作
include include/pagination