include include/csrf
style.
  .sel_wx_new {
    max-height: 400px;
    overflow-y: auto;
  }
.modal-header
  .modal-body
    .table-responsive.sel_wx_new
      table.table.table-striped
        tbody
          tr(ng-repeat='wxNew in wrapData.wxNews')
            td {{wxNew.title}}
            td {{wxNew.author}}
            td.text-center
              a(href='javascript:{}', ng-click='sel($index)') 选中
    include include/pagination