include include/csrf
form.super-form(name='foodForm')
  div
    .form-group
      label(for='food-name') 菜品名称
      input#food-name.form-control(ng-model='food.name', placeholder='请输入菜品名称', required)
    .form-group
      label(for='food-name') 食材
      input#food-name.form-control(ng-model='food.material', placeholder='请输入食材的名字', required)
    .food-des-edit.fomr-group
      label(for='food-des') 描述
      textarea#food-des.form-control(ng-model='food.des', rows='3')
    .food-image-edit.clearfix
      img(ng-if='food.images.length > 0', ng-src='{{food.images[0]}}?{{food.imgTime || ""}}')
      .food-image-action
        input(type='file', ngf-select, ng-model='food.picFile', name='file', accept='image/*', ngf-max-size='1048576')
        button.btn.btn-sm.btn-primary(ng-click='uploadPic($index, food.picFile)') 更新图片
    .food-restaurant-edit
      .row.food-restaurant-row(ng-repeat='subRestaurant in food.restaurants')
        .col-md-8
          select.form-control.pull-left(ng-options='restaurant._id as restaurant.name  for restaurant in wrapRestaurants.restaurants', ng-model='food.restaurants[$index]._id')
            option(value='') 全部餐厅
        .col-md-4
          a.btn.btn-danger.btn-sm(ng-click='delRestaurant($index)') 删除餐厅
      a.food-restaurant-add(ng-click='createRestaurant()') + 增加餐厅
    .food-action.row
      .col-md-6
        a.btn.btn-primary.btn-sm.form-control(ng-click='addOrUpdate()', ng-disabled='foodForm.$invalid') 点我保存食材
      .col-md-6
        a.btn.btn-warning.btn-sm.form-control(ng-href='#/toFoods') 返回食材列表