include include/csrf
form.super-form(name='seasonForm')
  include include/season-form
  .row
    .col-md-6
      a.form-control.btn.btn-danger(ng-click='saveOrUpdateSeason()', ng-disabled='seasonForm.$invalid') 点我保存推荐
    .col-md-6
      a.form-control.btn.btn-warning(ng-href='#/toSeasons') 返回推荐列表
